.nav {
  padding: 50px 0;
  display: flex;
  width: 90%;
}
.nav .container_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav .imagen_logo {
  width: 100%;
  max-width: 350px;
  cursor: pointer;
}
.nav .navbar-collapse {
  justify-content: right;
}
.nav .container_links {
  display: flex;
  gap: 1vw;
}
.nav .links {
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease;
  padding: 0 0 2% 0 !important;
  color: #fff;
}
.nav .links:hover {
  border-color: #ff0000;
}
.nav .navbar-nav .nav-link.active {
  color: #fff;
}

@media (max-width: 1200px) {
  .links {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .nav .imagen_logo {
    max-width: 200px;
    width: 100%;
  }
  .nav #basic-navbar-nav {
    margin-top: 20px;
  }
  .nav .links {
    width: 100%;
    font-size: 20px;
  }
  .nav .links:hover {
    background: #ff0000;
    border-color: transparent;
  }
}
@media (max-width: 450px) {
  .nav .imagen_logo {
    max-width: 180px;
  }
  .nav .links {
    font-size: 15px;
  }
  .nav .navbar-toggler {
    padding: 2.5vw;
    font-size: 3vw;
  }
  .nav .navbar-toggler-icon {
    width: 7vw;
    border: 0;
  }
}
@media (max-width: 320px) {
  .nav {
    padding: 5vw 0 0 0;
  }
  .nav .imagen_logo {
    max-width: 70%;
    width: 100%;
  }
  .nav .links {
    font-size: 5.5vw;
  }
  .nav .navbar-toggler {
    padding: 2vw;
    font-size: 5vw;
  }
  .nav .navbar-toggler-icon {
    width: 7vw;
    border: 0;
  }
}
header {
  position: relative;
  margin: auto;
  max-width: 1800px;
  margin-top: 30px;
}
header .container_movie {
  display: flex;
  justify-content: center;
}
header .container_movie video {
  width: 100%;
  height: auto;
  opacity: 0.4;
  -webkit-clip-path: inset(0 0 15% 0);
          clip-path: inset(0 0 15% 0);
}
header .container_text_movie {
  max-width: 40%;
  position: absolute;
  left: 5%;
  top: 45%;
  transform: translate(0, -50%);
  color: white;
}
header .container_text_movie img {
  cursor: pointer;
  max-width: 300px;
  width: 100%;
}
header .container_text_movie .container_txt_extra {
  display: flex;
  align-items: center;
}
header .container_text_movie .container_txt_extra h5 {
  margin: 1%;
  font-size: 25px;
}
header .container_text_movie .container_txt_extra .valoracion {
  color: #90E895;
}
header .container_text_movie .container_txt_extra .calidad {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
header .container_text_movie p {
  font-size: 23px;
}
header .container_carrusel {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 85%;
  transform: translate(-50%, 0);
  display: flex;
}
header .container_carrusel img {
  opacity: 0.8;
  margin-right: 10px;
}
header .container_carrusel img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 1400px) {
  header .container_text_movie {
    max-width: 60%;
  }
  header .container_text_movie img {
    max-width: 250px;
  }
  header .container_text_movie .container_txt_extra h5 {
    font-size: 3vw;
  }
  header .container_text_movie .container_txt_extra .calidad {
    padding: 1px;
  }
  header .container_text_movie p {
    font-size: 2vw;
  }
}
@media (max-width: 700px) {
  header .container_text_movie .container_image {
    max-width: 150px;
    margin: 0 5vw;
  }
  header .container_text_movie .container_image img {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  header .container_text_movie {
    max-width: 100%;
  }
  header .container_text_movie .container_image {
    max-width: 120px;
  }
  header .container_text_movie p {
    font-size: 2.5vw;
  }
}
@media (max-width: 320px) {
  header .container_text_movie .container_image {
    max-width: 80px;
  }
}
@media (max-width: 200px) {
  header .container_text_movie .container_image {
    max-width: 30px;
  }
}
.section_pelicula_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sub_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  width: 80%;
}

.first_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_container img {
  width: 100%;
  max-width: 430px;
}

.second_container {
  width: 50%;
}

.container_textos_page h1 {
  margin: 0 !important;
  font-size: 50px;
  color: #fff;
}
.container_textos_page .container_txt_extra {
  display: flex;
  align-items: center;
  gap: 2%;
}
.container_textos_page .container_txt_extra h5 {
  font-size: 25px;
  margin: 0 !important;
}
.container_textos_page .container_txt_extra .valoracion {
  color: #90e895;
  display: flex;
  gap: 0.5vw;
}
.container_textos_page .container_txt_extra .calidad {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
.container_textos_page p {
  font-size: 18px;
  margin: 1% 0 !important;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
  background: #e4d9d9;
}
button i {
  font-size: 25px;
  color: #252121;
}

@media (max-width: 1400px) {
  .first_container img {
    max-width: 400px;
  }
  .container_textos_page h1 {
    font-size: 45px;
  }
  .container_textos_page .container_txt_extra h5 {
    font-size: 20px;
  }
  .container_textos_page p {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .first_container img {
    max-width: 380px;
  }
  .container_textos_page p {
    font-size: 15px;
  }
}
@media (max-width: 1050px) {
  .sub_contenedor {
    width: 90%;
  }
  .first_container img {
    max-width: 350px;
  }
  .container_textos_page {
    font-size: 40px;
  }
  .container_textos_page p {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .first_container img {
    max-width: 300px;
  }
  .container_textos_page h1 {
    font-size: 35px;
  }
  .container_textos_page .container_txt_extra h5 {
    font-size: 18px;
  }
  .container_textos_page p {
    font-size: 13px;
  }
  button {
    font-size: 15px;
  }
  button i {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .first_container img {
    max-width: 280px;
  }
  .container_textos_page h1 {
    font-size: 30px;
  }
  .container_textos_page .container_txt_extra h5 {
    font-size: 15px;
  }
  .container_textos_page p {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .sub_contenedor {
    flex-direction: column;
    gap: 4vh;
  }
  .first_container {
    width: 80%;
  }
  .first_container img {
    max-width: 400px;
  }
  .second_container {
    width: 90%;
  }
  .second_container .container_textos_page h1 {
    font-size: 40px;
  }
  .second_container .container_textos_page .container_txt_extra h5 {
    font-size: 17px;
  }
  .second_container .container_textos_page p {
    font-size: 15px;
  }
  button {
    font-size: 20px;
  }
  button i {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .first_container img {
    max-width: 300px;
  }
  .second_container .container_textos_page h1 {
    font-size: 35px;
  }
  .second_container .container_textos_page .container_txt_extra h5 {
    font-size: 15px;
  }
  .second_container .container_textos_page p {
    font-size: 13px;
  }
  button {
    font-size: 15px;
  }
  button i {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .second_container .container_textos_page h1 {
    font-size: 10vw;
  }
  .second_container .container_textos_page .container_txt_extra h5 {
    font-size: 5vw;
  }
  .second_container .container_textos_page .container_txt_extra .calidad {
    padding: 1vw;
  }
  .second_container .container_textos_page p {
    font-size: 4vw;
  }
  button {
    font-size: 5vw;
  }
  button i {
    font-size: 6vw;
  }
}
@media (max-width: 300px) {
  .second_container .container_textos_page h1 {
    font-size: 12vw;
  }
  .second_container .container_textos_page .container_txt_extra h5 {
    font-size: 5vw;
  }
  .second_container .container_textos_page p {
    font-size: 5vw;
  }
  button {
    font-size: 6vw;
  }
  button i {
    font-size: 7vw;
  }
}
h1 {
  font-size: 60px;
}

.container_movie_individual {
  padding: 0 2%;
  margin: 10% 0;
}
.container_movie_individual .container_movie {
  display: flex;
  margin: 5% auto;
  padding: 2%;
  max-width: 1200px;
  border-radius: 20px;
  background: #111111;
  box-shadow: 1px -1px 12px 0px rgb(112, 112, 112);
}
.container_movie_individual .container_movie img {
  max-width: 360px;
  width: 100%;
  max-height: 360px;
  height: auto;
  padding: 0 3vw 0 1vw;
}
.container_movie_individual .container_movie .container_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 550px;
}
.container_movie_individual .container_movie .container_texts .titulo {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  transition: font-size 0.1s;
}
.container_movie_individual .container_movie .container_texts .titulo:hover {
  opacity: 0.7;
}
.container_movie_individual .container_movie .container_texts .container_txt_extra {
  margin: 10px 0;
}
.container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
  display: inline;
  margin: 0 5px;
  font-size: 15px;
}
.container_movie_individual .container_movie .container_texts .container_txt_extra .valoracion {
  color: #90e895;
}
.container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .container_movie_individual {
    text-align: center;
  }
  .container_movie_individual h1 {
    font-size: 45px;
  }
  .container_movie_individual .container_movie {
    box-shadow: none;
    padding: 5% 1%;
  }
  .container_movie_individual .container_movie img {
    margin: auto;
    padding: 0 0 0 5%;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 35px;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra {
    margin: 0;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 20px;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 2%;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 15px;
    margin: 0;
  }
}
@media (max-width: 900px) {
  .container_movie_individual {
    width: 90%;
  }
  .container_movie_individual .container_movie img {
    max-height: 300px;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
    padding: 0 1%;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 30px;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra {
    margin: 0;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 2.5vw;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 2%;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 2vw;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .container_movie_individual {
    width: 95%;
  }
  .container_movie_individual h1 {
    font-size: 35px;
  }
  .container_movie_individual .container_movie img {
    max-height: 300px;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 5vw;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra {
    margin: 0;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 2.5vw;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 2%;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 2.5vw;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .container_movie_individual {
    width: 95vw;
  }
  .container_movie_individual h1 {
    font-size: 35px;
  }
  .container_movie_individual .container_movie {
    width: 80%;
    flex-direction: column;
  }
  .container_movie_individual .container_movie img {
    max-width: 250px;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
    gap: 0.5vh;
    padding: 0 7%;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 25px;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 15px;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 2%;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .container_movie_individual {
    width: 95vw;
  }
  .container_movie_individual h1 {
    font-size: 10vw;
  }
  .container_movie_individual .container_movie {
    flex-direction: column;
    width: 95%;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
    gap: 0.5vh;
    padding: 0 7%;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 8vw;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 4.5vw;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 3%;
    font-size: 4.5vw;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 4vw;
  }
}
@media (max-width: 300px) {
  .container_movie_individual .container_movie {
    flex-direction: column;
    width: 95%;
  }
  .container_movie_individual .container_movie .container_texts {
    text-align: left;
    gap: 0.5vh;
    padding: 0 7%;
  }
  .container_movie_individual .container_movie .container_texts .titulo {
    font-size: 8.5vw;
  }
  .container_movie_individual .container_movie .container_texts .titulo:hover {
    opacity: 0.7;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra h5 {
    font-size: 5vw;
  }
  .container_movie_individual .container_movie .container_texts .container_txt_extra .calidad {
    padding: 1% 2%;
  }
  .container_movie_individual .container_movie .container_texts p {
    font-size: 5vw;
  }
}

.container_gallery_movies {
  display: flex;
  height: 430px;
  width: 100%;
}
.container_gallery_movies img {
  max-width: 250px;
  width: 0%;
  height: auto;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.container_gallery_movies img:hover {
  cursor: pointer;
  width: 60%;
  opacity: 0.5;
  filter: contrast(120%);
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
}
footer img {
  width: 350px;
}
footer i {
  font-size: 50px;
  margin: 0px 5px;
}

@media (max-width: 992px) {
  footer img {
    max-width: 330px;
    width: 100%;
  }
  footer i {
    font-size: 6vw;
  }
  footer h3 {
    font-size: 3vw;
  }
}
@media (max-width: 600px) {
  footer img {
    max-width: 300px;
    width: 100%;
  }
  footer i {
    font-size: 9vw;
  }
  footer h3 {
    font-size: 4vw;
  }
}
@media (max-width: 350px) {
  footer img {
    max-width: 250px;
    width: 100%;
  }
  footer i {
    font-size: 10vw;
  }
  footer h3 {
    font-size: 4.5vw;
  }
}/*# sourceMappingURL=Sass.css.map */