.App{
  background: #212121;
  color: #fff;
}

.movies{
  display: flex;
  gap: 3vh;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px){
  .movies{
    text-align: center;
  }

  .movies h1{
    font-size: 6vw;
  }
}

@media (max-width: 500px){
  .movies{
    text-align: center;
  }

  .movies h1{
    font-size: 8vw;
  }
}
